# Включаем стек Zigbee и задаём роль устройства
CONFIG_ESP_ZB_ENABLE=y
CONFIG_ESP_ZB_DEVICE_TYPE_ZED=y
CONFIG_ESP_ZB_DEVICE_TYPE_ZR=n
CONFIG_ESP_ZB_DEVICE_TYPE_ZC=n
CONFIG_ESP_ZB_RADIO_USE_NATIVE=y
CONFIG_ESP_ZB_RADIO_UART=n
CONFIG_ESP_ZB_FLASH_NVRAM_ENABLED=y
CONFIG_PM_ENABLE=y
CONFIG_PM_POWER_DOWN_PERIPHERAL_IN_LIGHT_SLEEP=y
CONFIG_FREERTOS_USE_TICKLESS_IDLE=y
CONFIG_FREERTOS_HZ=1000
CONFIG_IEEE802154_SLEEP_ENABLE=y
CONFIG_ESP_SLEEP_POWER_DOWN_FLASH=y
